/* Main content */
main {
  text-align: center;
}

fieldset {
  z-index: 2;
  ?background-image: url("images/background/mountain.jpg");
}

.textField {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px solid black;
  background-color:rgba(0, 0, 0, 0)
}

.textField:focus {
/*  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px solid black;
  */
  outline: none;
}

.textField::placeholder {
  color: black;
}

#submit {
  border: 2px solid black;
  margin-top: 10px;
  border-radius: 5px;
}

#error  {
  display: none;
  text-align: center;
  background-color: rgba(233, 5, 5, 0.281);
  border-radius: 5px;
  border: 2px dotted red;
  font-family:Helvetica, Arial, sans-serif;
}

#remove {
  position: fixed;
  right: 30px;
  margin-top: 11px;
  font-size: x-large;
  color: red;
}

#remove:hover {
  cursor: pointer;
}

body {
  color: black;
 overflow: hidden;
}

svg {
    display: inline-block;
    position: absolute;
    bottom:0 ;
    left: 0;
    z-index: -1;
}
.container {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.key {
  height: 15.2px;
  position: relative;
  left: 4px;
  top: 0.6px;
  z-index: 1;
  border-bottom: black 2px solid;
}

.user {
  height: 15.2px;
  position: relative;
  left: 4px;
  top: 0.6px;
  z-index: 1;
  border-bottom: black 2px solid;
}
